/* ********************************** ABOUT ********************************* */
.about {
  overflow: hidden;
  box-shadow: $box-shadow-col 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background: $col-white;
  padding: 1.5em;
  min-height: 100vh;
  > h1 {
    @media #{$break-m} {
      margin-bottom: 55px;
    }
    @extend %main-header;
    @include headingFont($font-weight: 700);
    margin: 70px 0;
  }
  &__content {
    max-width: 900px;
    margin: 0 auto;
  }

  &__img {
    text-align: center;
    margin-bottom: 35px;
  }
  &__profile-img {
    height: 150px;
    border-radius: 50%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
  &__heading {
    font-family: 'Titillium Web', sans-serif;
    font-size: 3em;
    line-height: 1.4;
  }
  &__body {
    margin-top: 30px;
  }
  &__bio {
    margin-bottom: 30px;
    line-height: 1.7;
  }
}
