/* ********************************** ABOUT ********************************* */
.about {
  overflow: hidden;
  box-shadow: $box-shadow-col 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background: $col-white;
  padding: 1.5em;
  min-height: 100vh;
  > h1 {
    @media #{$break-m} {
      margin-bottom: 55px;
    }
    @extend %main-header;
    @include headingFont($font-weight: 700);
    margin: 70px 0;
  }
  &-content {
    display: grid;
    grid-gap: 25px 100px;
    grid-template-areas:
      'imgCoder'
      'aboutContent';
    justify-items: center;
    padding: 1em;
    @media #{$break-m} {
      grid-template-areas: 'aboutContent imgCoder';
    }
  }
}

.flex-container {
  @include flexy($f-dir: column, $j-content: center);
}

.grid-area {
  &-one {
    grid-area: aboutContent;
  }
  &-two {
    grid-area: imgCoder;
  }
}

.about-sec {
  @media #{$break-xs} {
    font-size: 1em;
    letter-spacing: 0.084em;
  }
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.068em;
}

.quote {
  @media #{$break-xs} {
    font-size: 1em;
  }
  svg {
    @media #{$break-s} {
      height: 10px;
    }
    height: 8px;
  }
  font-size: 12px;
  letter-spacing: 0.071em;
  text-transform: uppercase;
  color: rgb(89, 89, 89);
  text-align: $align_center;
}

small {
  line-height: 30px;
}

.img-coder {
  @media #{$break-m} {
    margin-bottom: initial;
  }
  display: grid;
  justify-items: center;
  grid-gap: 20px 0;
  margin-bottom: 10px;
  padding-bottom: 30px;

  &-w {
    @media #{$break-xs} {
      max-width: 300px;
    }
  }
}

.initial {
  @include headingFont($font-weight: 400);
  font-weight: 800;
  color: rgb(88, 88, 88);
  font-size: 106px;
  float: left;
  margin-right: 12px;
  line-height: 0.83;
}
