/* ********************************* FOOTER ********************************* */
footer {
  @include headingFont($font-weight: 400);
  font-size: 14px;
  background: $secondary_col;
  padding: 6em 0 4em 0;
  text-align: $align_center;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.225em;
  text-transform: uppercase;
}
