/* ********************************** INTRO ********************************* */
.intro {
  background: $col-black url('../images/wallpaper.png') no-repeat;
  background-size: cover;
  @include flexy($a-items: center);
  @media #{$break-m} {
    padding: 1em;
    min-height: 100vh;
  }
  height: auto;
  min-height: 0;
  color: $col-black;
  text-align: $align_center;
  position: relative;
  &-overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &-content {
    z-index: 1;
    @include flexy($f-dir: column, $a-items: center);
    width: 100vw;
    .intro-name {
      color: #fff;
      > h2 {
        @media #{$break-m} {
          font-size: 2.3em;
          letter-spacing: 0.168em;
        }
        letter-spacing: 0.16em;
        font-size: 1.6em;
      }
      h3 {
        letter-spacing: 0.189em;
      }
    }
  }
}

.btn {
  @media #{$break-m} {
    font-size: 19px;
    letter-spacing: 0.157em;
    line-height: 22px;
    padding: 0.7em;
  }
  font-size: 18px;
  letter-spacing: 0.115em;
  line-height: 20px;
  padding: 0.85em;
  border-radius: 5px;
  color: $col_white;
  background: $primary_col;
  &-view {
    margin-top: 85px;
  }
  &:hover {
    background-color: lighten($primary_col, 4%);
    transition: all 0.5ms ease-in-out;
  }
}

.web-dev {
  margin-top: 30px;
  height: 120px;
  border-radius: 50%;
  background-image: linear-gradient(
    to right top,
    #000000,
    #0b0608,
    #120b10,
    #171117,
    #19151e,
    #1a1a23,
    #1b1e28,
    #1c232c,
    #1f282f,
    #252d31,
    #2b3234,
    #323737
  );
  border: 3px solid $col_white;
  margin-bottom: 30px;
}

.down-arrow {
  @media #{$break-m} {
    margin-top: 90px;
    height: 65px;
    animation: slideArrow 0.9s ease-in-out infinite;
  }
  height: 50px;
  margin-top: 70px;
}

/* Animation */
@keyframes slideArrow {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(10px);
  }
}
