/* ******************************** MENU BTN ******************************** */
.menu {
  cursor: pointer;

  @media #{$break-s} {
    display: none;
  }

  &__first {
    @extend %menu;
  }

  &__middle {
    @extend %menu;
  }

  &__third {
    @extend %menu;
    margin-bottom: initial;
  }
}

.active .menu__first {
  transform-origin: center center;
  transform: rotate(45deg) translate(0, 14px);
  transition: all 0.5s ease-in-out;
}
.active .menu__middle {
  transform: translateX(10px);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.active .menu__third {
  transform-origin: center center;
  transform: rotate(-45deg) translate(-2px, -12px);
  transition: all 0.5s ease-in-out;
}
