/* ******************************* SOCIAL ICON ****************************** */
.social-icon {
  margin-bottom: 30px;
  a svg {
    margin-left: 20px;
    opacity: 0.4;
    &:hover {
      opacity: 1;
      transform: translateY(-5px);
      transition: all 300ms ease-in-out;
    }
  }
}

.nav-social-icons {
  @include flexy($j-content: flex-end, $a-items: flex-end);
  height: calc(90vh - 75%);
  a svg {
    margin-right: 20px;
    opacity: 0.4;
    &:hover {
      opacity: 1;
    }
  }
}
