/* ****************************** TESTIMONIALS ****************************** */

.carousel {
  text-align: center;

  &__title {
    @include headingFont($font-weight: 700);
    @extend %main-header;
    padding-top: 30px;
    color: $col_white;
    font-size: 1.5em;
    @media #{$break-xs} {
      font-size: revert;
    }
  }
}

.testimonial {
  padding: 1em;
  line-height: 1.5;
  font-weight: 600;
  @media #{$break-m} {
    padding: 4em;
  }

  &__content {
    background: #fff;
    padding: 2em;
    border-radius: 10px;
    margin: 30px 0 0 20px;
  }

  &__heading {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    &--logo::before {
      content: '';
      background: #fff url(' ../images/logo/treehouse-logo.svg') no-repeat;
      display: inline-block;
      width: 30px;
      height: 25px;
    }
  }

  &__feedback {
    margin: 20px 0 30px;
    height: 200px;
    @media #{$break-s} {
      height: 150px;
    }
    color: #394d57;

    &::before {
      content: '';
      background: #fff url('../images/quote/quote.svg') no-repeat;
      background-size: 15px 20px;
      display: inline-block;
      width: 18px;
      height: 22px;
    }
  }

  &__footer {
    @include flexy($f-dir: column, $a-items: center);
  }

  &__avatar {
    height: 65px;
    padding-bottom: 10px;
  }

  &__header--color {
    color: #394d57;
    font-weight: bold;
  }

  &__name--color {
    color: #74858d;
  }
}
