/* ******************************* TYPOGRAPHY ******************************* */

// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font: 300 1em/1.5 'Roboto Slab', serif;
  padding-top: 64px;
  background: #f7f9fb url(../images/wallpaper.png) no-repeat left;
  background-size: cover;
}

.container {
  @include flexy($j-content: space-between);
  @media #{$break-l} {
    width: 85%;
    margin: 0 auto;
  }
  padding: 0.75em;
}

img {
  max-width: 100%;
}
