/* ******************************* TYPOGRAPHY ******************************* */

// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font: 300 1em/1.5 'Roboto Slab', serif;
  padding-top: 64px;
  background-image: linear-gradient(
    to left top,
    #000000,
    #0b0608,
    #120b10,
    #171117,
    #19151e,
    #1a1a23,
    #1b1e28,
    #1c232c,
    #1f282f,
    #252d31,
    #2b3234,
    #323737
  );
}

.container {
  @include flexy($j-content: space-between);
  @media #{$break-l} {
    width: 85%;
    margin: 0 auto;
  }
  padding: 0.75em;
}

img {
  max-width: 100%;
}
