/* ******************************* TYPOGRAPHY ******************************* */

// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font: 300 1em/1.5 'Roboto Slab', serif;
  padding-top: 64px;
  background-image: linear-gradient(
    to right bottom,
    #0d0d0d,
    #151217,
    #1d151e,
    #271723,
    #321825,
    #3e1827,
    #4a1828,
    #561726,
    #651424,
    #741020,
    #820d19,
    #8e0e0e
  );
}

.container {
  @include flexy($j-content: space-between);
  @media #{$break-l} {
    width: 85%;
    margin: 0 auto;
  }
  padding: 0.75em;
}

img {
  max-width: 100%;
}
